body
{
    background:lightpink;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/340/791/small/pastel-rainbow-blurry-background-with-sparks-free-vector.jpg");

}
.login_div1 , .login_div2 
{
    background :white;
    padding:10px;
    float:none;
    border-radius: 15px;


}

#player1_name, #player2_name
{
    display:inline-block;
    margin-left:20px;
}
#word
{
    width:60%
}
#word_display
{
    letter-spacing:5px;
}
#ouput
{
    background:white;
    border-radius: 10px;
    border-top:10 px solid #AA4465;
    padding:10px;
    float:none;
    text-align:left;
}
